.footer{
    position: absolute;
    width: 317px;
    height: 64px;
    left: 116px;
    top: 760px;

    background: #161619;
    border-radius: 0px 0px 10px 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    color: #ffffff;
}

.logo{
    width:25px;
    height:25px;
}